{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/boring-project-litepage/litepage.svg"
    />
    <link
      href="/boring-project-litepage/main.css?v={{ version }}"
      rel="stylesheet"
    />
    <title>Boring project with Litepagea</title>
  </head>
  <body>
    {{ template "body" .}}
  </body>
</html>
{{ end }}
